@model WescoWeb.Models.donut

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>donut</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ordered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ordered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wasted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wasted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.production)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.production)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.donutID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
